.sectionAddCocktail {
    padding-top: 4px;
    box-shadow: 0px 0px 18px 1px rgba(146, 146, 146, 0.741);
    border-radius: 13px;
    max-width: 450px;
    // overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sectionAddCocktailFormContainer {
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.sectionAddCocktailTitleOpenContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sectionAddCocktailTitleOpenContainerText {
        margin: 0 0 4px 0;
        font-weight: 700;
        font-size: 18px;
        user-select: none;
    }
}

.sectionAddCocktailContentContainer {
    padding-bottom: 70px;
    position: relative;
}

.sectionAddCocktailFormAddIngredientsContainer {
    display: flex;
    flex-direction: column;

    .sectionAddCocktailFormAddIngredients {
        display: flex;
    }

    .sectionAddCocktailFormAddIngredientsQuantity {
        display: flex;
    }
}

.sectionAddCocktailFormTect {
    margin: 0;
}

.sectionAddCocktailIngredientsContainer {
    margin-bottom: 20px;
}

.sectionAddIngredientsBlockIngredient {
    position: relative;
    display: inline-block;
    padding: 10px 45px 10px 10px;
    border-radius: 13px;
    background-color: aliceblue;
    box-shadow: 0px 0px 18px 1px rgba(146, 146, 146, 0.741);
    margin: 8px 16px 8px 0px;
}

.sectionAddIngredientsBlockIngredientText {
    margin: 0;
}

.sectionAddCocktailCategoriesContainer {
    margin-top: 20px;
}

.sectionAddCocktailCategoriesText {
    margin: 0;
}

.sectionAddCocktailAddImageContainer {
    margin-top: 20px;
}

.sectionAddCocktailImageContainer {
    // margin-top: 13px;
    border: 2px dashed rgb(102, 102, 102);
    max-width: 300px;
    width: 100%;
    height: 300px;
    border-radius: 13px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionAddCocktailMiniatureContainer {
    margin-top: 13px;
    border: 2px dashed rgb(102, 102, 102);
    max-width: 100px;
    width: 100%;
    height: 100px;
    border-radius: 13px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionAddCocktailButtonSave {
    position: absolute;
    bottom: 0;
    right: -13px;
    left: -13px;
    background-color: rgb(25, 183, 86);
    padding: 13px;
    margin-top: 20px;
    border-radius: 0px 0px 13px 13px;
    cursor: pointer;
    transition: .39s;

    .sectionAddCocktailButtonSaveText {
        margin: 0px;
        color: white;
        text-align: center;
        font-size: 18px;
        user-select: none;
        transition: .3s;
    }
}

.sectionAddCocktailButtonSave:hover {
    background-color: rgba(25, 183, 86, 0.676);
    transition: .39s;

    .sectionAddCocktailButtonSaveText {
        color: rgba(0, 0, 0, 0.608);
        transition: .3s;
    }
}

.productsCategoryWrapper {
    position: relative;
}

.productsCategoryContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
    border-radius: 13px 13px 0 0;
    padding: 7px 10px;
    height: 42px;
    width: 102px;
    cursor: pointer;

    p {
        margin: 0 5px 3px 0;
        // font-size: 16px;
        // line-height: 16px;
        user-select: none;

    }
}

@keyframes ArrowBottom {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
    
}

.productsCategoryArrowBottomContainer {
    animation: ArrowBottom .3s ease forwards;
}

@keyframes ArrowTop {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.productsCategoryArrowTopContainer {
    animation: ArrowTop .3s ease forwards;
}

.productsCategoryListContainer {
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 59px;
    background-color: #e1e1e1;
    width: 122px;
    border-radius: 0 0 13px 13px;
    padding: 0px;
    overflow: hidden;

    .productsCategoryList {
        margin: 0;
        padding: 0;
    }

    .productsCategoryItem {
        margin: 0;
        padding: 10px 10px;
        list-style-type: none;
        cursor: pointer;
        user-select: none;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .productsCategoryItem:hover {
        background-color: #8ac640;
    }

    .productsCategoryItem__selected {
        margin: 0;
        padding: 10px 10px;
        list-style-type: none;
        cursor: default;
        user-select: none;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        opacity: 0.58;
        background-color: #c7c7c7d8;
    }
}