.sectionEventTitle {
    margin: 0 0 4px 0;
    font-weight: 700;
    font-size: 18px;
    -webkit-user-select: none;
    user-select: none;
}

.sectionEventFormDateTimeContainer {
    display: flex;
    margin-bottom: 13px;
}

.sectionEventInputDateContainer {
    margin-right: 10px;
}