.userDrinksHistoryTitle {
    display: inline-flex;
    align-items: center;
    max-width: 80%;
    white-space: normal;
    margin: 0;
    padding: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 13px;
    position: absolute;
    background-color: white;
    color: #454545;
}



// media start

@media (max-height: 570px) {
    .userDrinksHistoryTitle {
        transform: scale(0.8);
    }
}

@media (max-height: 540px) {
    .userDrinksHistoryTitle {
        transform: scale(0.65);
    }
}

@media (max-height: 490px) {
    .userDrinksHistoryTitle {
        transform: scale(0.55);
    }
}

@media (max-height: 440px) {
    .userDrinksHistoryTitle {
        transform: scale(0.55);
    }
}

@media (max-height: 400px) {
    .userDrinksHistoryTitle {
        transform: scale(0.4);
    }
}

@media (max-height: 360px) {
    .userDrinksHistoryTitle {
        transform: scale(0.35);
    }
}