.confirmedProfiles {
    background-color: #d2f3e3;
    border-radius: 18px;
    width: 280px;
    height: 70px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    box-shadow: 0px 0px 10px 1px #00000038;
}

.confirmedProfilesContentContainer {
    display: flex;
    align-items: center;
    max-width: 176px;
    width: 100%;
}

.confirmedProfilesImage {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    margin-right: 18px;
}

.confirmedProfilesName {
    // text-align: center;
    width: 103px; 
}

.confirmedProfilesCocktailImageContainer {
    width: 125px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmedProfilesCocktailImage {
    background-color: #e8f7f2;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 3px solid rgb(13, 204, 13);
    cursor: pointer;
    transition: .3s;
}

.confirmedProfilesCocktailImage:hover {
    transition: .3s;
    background-color: #e8f7f291;
    border: 3px solid rgb(13, 166, 13);
}

.confirmedProfilesCocktailImageOther {
    transform: translateX(-20px);
}

.confirmedProfilesCocktailImageHidden {
    display: none;
}

.confirmedProfilesOpenAllCocktailButton {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-40px);
    border: 3px dashed rgba(254, 254, 254, 0.199);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: rgb(91 131 25);
    cursor: pointer;
    transition: background-color 0.35s ease, border-color 0.8s ease;
}

.confirmedProfilesOpenAllCocktailButton:hover {
    background-color: rgb(74, 107, 21);
    border: 3px dashed #e8f7f2;
    transition: background-color 0.35s ease, border-color 0.8s ease;
}



// media start

@media (max-width: 630px) {
    .confirmedProfiles {
        box-sizing: border-box;
        max-width: 604px;
        width: 100%;
        min-width: 280px;
    }
}