.categoriesSection {
    width: 100%;
    background-color: white;
    margin-top: -3px;
}

.categories {
    padding-bottom: 90px;
}

.categoriesList {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;
}

.categoriesItem {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    .categoriesImage {
        max-width: 100px;
    }

    .categoriesText {
        color: #467166;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
    }
}

.categoriesItem:nth-child(odd) {
    margin-top: 23px;
}



// media start 

@media (max-width: 992px) {
  .categoriesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 колонки
    gap: 20px; // отступы между элементами
    padding: 0 13px;
    margin: 0;
    list-style: none;
  }

  .categoriesItem:nth-child(odd) {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
    .categoriesItem {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .categoriesList {
        display: grid;
        grid-template-columns: repeat(1, 1fr); // 2 колонки
        gap: 20px; // отступы между элементами
        padding: 0 13px;
        margin: 0;
        list-style: none;
    }

    .categoriesItem {
        margin: 13px 0;
    }
}