.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  object-fit: cover;
  display: block;
  min-height: 600px;
}

.heroContent {
  position: absolute;
  top: 25%; /* или другое фиксированное место */
  left: 20%;
  transform: none;
  color: white;
}

.heroTitle {
    // margin: -58px 0 0 0;
    margin: 0;
    padding: 0;
    // padding: 158px 0 36px 0;
    text-transform: uppercase;
    color: white;
    font-family: "Caveat", cursive;
    font-size: 40px;
    max-width: 310px;
}

.subTitle {
    font-size: 22px;
    max-width: 330px;
    color: #d4fff3;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 45px;
}



// media start

@media (max-width: 1300px) {
  .heroContent {
    top: 19%;
  }
}

@media (max-width: 1130px) {
  .heroContent {
    top: 16%;
  }
}


@media (max-width: 1110px) {
  .heroImage {
    object-position: 85% 0%;
  }
}

@media (max-width: 992px) {
  .heroImage {
    object-position: 100% 0%;
    min-height: 700px;
  }

  .heroContent {
    top: 21%;
  }

  .heroTitle {
    font-size: 36px;
  }

  .subTitle {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .heroImage {
    object-position: 85% 0%;
  }
}

@media (max-width: 450px) {
  .heroContent {
    left: 12%;
  }
}