.productsCardBorder {
    border-radius: 13px;
    padding: 5px;
    max-width: 266px;
    box-sizing: border-box;
    box-shadow: 0px 0px 22px 1px #00000038;
    width: 100%;

    // border: 2px solid rgb(13, 204, 13);
    // border: 2px solid rgb(214, 8, 8);


    background-color: #e8f7f200;

    z-index: 10;
}

.productsCard {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    // max-width: 274px;
    // box-sizing: border-box;
    // box-shadow: 0px 0px 22px 1px #00000038;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    // border: 2px solid rgb(7, 225, 7);
}

.productsCardInfoContentContainer {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e1e1e1e8;
    border-radius: 0 0 8px 8px;
    transform: translateY(120%);
    z-index: 5;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* для Safari */
}

@keyframes animationOpen {
    0% {
        transform: translateY(120%);
    }
    100% {
        transform: translateY(0%);
    }
}

.productsCardInfoContentContainer__animationOpen {
    animation: animationOpen .62s ease forwards;
}

@keyframes animationClose {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(120%);
    }
}

.productsCardInfoContentContainer__animationClose {
    animation: animationClose .62s ease forwards;
}

// 

.productsCardInfoContent {
    position: relative;
    height: 100%;
    width: 100%;
}

.productsCardListIngredientsTitle {
    padding-top: 39px;
    padding-left: 24px;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}

.productsCardListIngredientsContainer {
    padding: 0 0 0 30px;
}

.productsCardItemIngredients {
    list-style-type: none; 
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.productsCardImageContainer {
    height: 260px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -25px;
}

.productsImage {
    // max-width: 132px;
    max-width: 260px;
}

.productsCardNameInfoContainer {
    // padding: 0 10px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
}

.productsCardName {
    // width: 100%;
    margin: 0;
    height: 50px;
}

.productsCardTypeText {
    margin: 10px 0 5px 0;
    width: 100%;
    display: inline;
    text-align: start;
    color: gray;
    font-size: 14px;
}

.productsCardNotEventText {
    line-height: 40px;
    margin-top: 21px;
    margin-bottom: 0;
}



// media start 

@media (max-width: 900px) {
    .productsCardBorder {
        max-width: 100%;
    }
    
    .productsCardImageContainer {
        max-width: 230px;
    }
}