.instructionsSection {
    background-color: white;
    width: 100%;
    margin-top: -3px;
}

.instructions {
    padding: 90px 0 90px 0;
    background-color: white;
}

.instructionsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.instructionsTitle {
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(90deg, #5ca55d, #234e47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0 0 30px 0;
    font-family: "Open Sans", sans-serif;
}

.instructionsList {
    padding-left: 16px;
}

.instructionsItem {
    color: #797977;
    font-size: 18px;
    line-height: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}



// media start

@media (max-width: 940px) {

    .instructions {
        padding: 45px 0 90px 0;
    }

    .instructionsContent {
        padding: 0 15px;
        justify-content: space-around;
    }

    .instructionsPhoto {
        max-width: 325px;
    }
}

@media (max-width: 768px) {

    .instructions {
        padding: 0px 0 90px 0;
    }

    .instructionsContent {
        flex-direction: column;
    }

    .instructionsTitle {
        margin-top: 45px;
        margin-bottom: 0;
        text-align: center;
        font-size: 26px;
    }

    .instructionsItem {
        font-size: 16px;
    }
}

@media (max-width: 370px) {
    .instructionsPhoto {
        max-width: 290px;
    }
}

@media (max-width: 370px) {
    .instructionsTitle {
        font-size: 20px;
    }  
    
    .instructionsItem {
        line-height: 36px;
    }
}