.adminPage {
    text-align: center;
    margin: 0 0 50px 0;
    user-select: none;
    // overflow-x: hidden;
}

.adminPageTitleText {
    user-select: none;
}

.adminPageSectionCocktailsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.adminPageCardCocktail {
    max-width: 260px;
    width: 100%;
    box-shadow: 0px 0px 18px 1px rgba(146, 146, 146, 0.741);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 13px;
    margin-bottom: 21px;

    .adminPageCardCocktailName {
        margin: 0;
    }

    .adminPageCardCocktailType {
        margin: 0 0 13px 0;
    }
    
    .adminPageCardCocktailImage {
        max-width: 150px;
        width: 100%;
        margin-bottom: 13px;
    }

    .adminPageCardCocktailListIngredients {
        padding: 0px 18px 0px 18px;
        margin: 0;
    }

    .adminPageDeleteButtonContainer {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 13px;
    }

    .adminPageCardCocktailQuantityIngredient {
        font-weight: 500;
    }
}

