.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px;
    height: calc(var(--vh, 1vh) * 100); // вместо 100vh
    background-color: #2a7c6e;
    overflow: hidden;
}

.notFoundContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 70vh;
    align-items: center;
}

.notFoundImageContainer {
    margin-bottom: 70px;
    width: 150px;
    height: 150px;
}

.notFoundImage {
    width: 100%;
}

.notFoundText {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0 13px;
    margin: 0;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}